html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;

    user-select: none;
}

body {
    flex-flow: column nowrap;
    justify-content: stretch;
    background: #ffffff;
    align-items: stretch;
    display: flex;

    flex-flow: column nowrap;
    justify-content: flex-start;
}

table {
    border: 2px solid black;
    border-collapse: separate;
    word-wrap: break-word;
    table-layout: fixed;
    border-spacing: 0;

    box-sizing: border-box;

    border-radius: 15px;
    max-width: 100%;
    width: 100%;
}

table th:not(:last-child), table td:not(:last-child) {
    border-right: 1px solid black;
}

table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
 border-bottom: 1px solid black;
}

table tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}

table tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}

table tr:last-child td:first-child {
    border-radius:0 0 0 10px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

td {
    text-align: center;
    padding: 5px;
}

td.selected {
    background-color: black;
    color: aliceblue;

    box-shadow: 0 0 0.4em #000000;
}

table input {
    box-sizing: border-box;
    text-align: center;
    width: 100%;

    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
    margin: 0;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 0.5rem;
    }
    75% {
        margin-left: -0.5rem;
    }
    100% {
        margin-left: 0rem;
    }
}

input:invalid {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem #ff0000;
    border-color: #ff0000 !important;
}

table input:focus{
    border: 3px solid #ff2fdc;
    caret-color: #ff2fdc;
    z-index: 5;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

#search-info {
    margin-right: 10px;
}

.content {
    padding: 10px 20px;
    position: relative;
    height: 100%;
    gap: 5px;
}

.scrollable {
    border-radius: 15px 0 0 0;
    background: #00000017;
    flex: 1;
    display: flex;
    overflow: auto;
    height: 100%;
}

.spacer {
    display: inline-block;
    width: var(--width);
    --width: 1em;
}

.full-spacer {
    display: inline-block;
    flex: 1;
}

td {
    user-select: none;
}

ul.title-bar {
    list-style: none;
    padding: 0;
    margin: 0;

    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    display: flex;

    background: #ffffff;

    position: sticky;
    z-index: 124;
    top: 0;
}

.down {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
}

.side {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
}

.card {
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px 20px;

    max-height: fit-content;
}

.chip {
    background: var(--color);
    border-radius: 7px;
    --color: #ff2fdc;
    padding: 3px 7px;
}

.glow {
    box-shadow: 0 0 0.4em var(--color);
    --color: #ff2fdc;
}
