html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;

    user-select: none;
}

body {
    flex-flow: column nowrap;
    justify-content: stretch;
    background: #efeef5;
    align-items: stretch;
    display: flex;

    /* color: #ffffff; */

    flex-flow: column nowrap;
    justify-content: flex-start;
}

table {
    border-collapse: separate;
    word-wrap: break-word;
    table-layout: fixed;
    border-spacing: 0;
    margin-top: 10px;

    box-shadow: 0 0 0.6em #00000011;
    box-sizing: border-box;
    background: #ffffff;

    border-radius: 10px;
    max-width: 100%;
    width: 100%;
}

td {
    transition: all 0.2s ease-out;
    transition: border 0.14s ease-in;
}

tr[stuck] td {
    border-radius: 0 !important;
}

table:not(#table) tr:first-child {
    position: sticky;
    top: -1px;
}

table:not(#table) tr:not(:first-child) td {
    user-select: contain;
}

button {
    transition: all 0.14s ease-out;
    border: 2px solid transparent;
    border: none;
    
    box-shadow: 0 7px 0.7em #00000015;
    background: #ffffff;
    cursor: pointer;
    outline: none;

    border-radius: 25px;
    font-weight: bold;
    padding: 5px 8px;
}

button:disabled {
    opacity: 0.7;
}

button:hover {
    scale: 1.1;
}

button:active {
    scale: 0.95;
}

#full {
    backdrop-filter: blur(var(--blur));
    background: #35ff022d;
    position: absolute;
    z-index: 2048;

    mask: linear-gradient(transparent, black 30%);
    box-shadow: 0 0 500px #ffffff inset;
    transition: all 0.5s ease-out, opacity 10s ease-out, 1s ease-out;
    pointer-events: none;
    --blur: 0px;
    opacity: 0;

    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
}

#full.active {
    pointer-events: all;
    background: #ffffff;
    --blur: 40px;
    opacity: 1;
    mask: 0;
}

#full p {
    font-weight: bold;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

.waves {
    position: fixed;

    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 60vh;
    opacity: 0;
    transition: all 8s ease-in-out;
}

#full.active .waves {
    opacity: 1;
}

.loader {
    animation: rotation 1s linear infinite;
    box-sizing: border-box;
    position: relative;
    color: #00ff88;
    margin:15px auto;
    display: block;
    height: 48px;
    width: 48px;
}
.loader::after,
.loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    background-color: #ff0062;
    border-radius: 50%;
    animation: scale50 1s infinite ease-in-out;
}
.loader::before {
    top: auto;
    bottom: 0;
    background-color: #000000;
    animation-delay: 0.5s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
    @keyframes scale50 {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
} 

/* table th:not(:last-child), table td:not(:last-child) {
    border-right: 1px solid black;
}

table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
 border-bottom: 1px solid black;
} */

.cmd {
    /* border: 1px solid black; */
    box-sizing: border-box;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    font-family: monospace;
    overflow-x: hidden;
    overflow: hidden;
}

.cmd p {
    font-weight: normal !important;
    margin: 4px 7px;
}


table tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}

table tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}

table tr:last-child td:first-child {
    border-radius:0 0 0 10px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

td {
    text-align: center;
    padding: 10px;
}

table tr:nth-child(odd) td {
    background-color: #f2f2f2;
}

table tr:first-child td {
    background-color: #4dff35;
    font-weight: bold;
}


table tr:last-child td.selected {
    border: 2px solid green;
    border-top: 0;
}

table tr:first-child td.selected {
    border: 2px solid green;
    border-bottom: 0;
}

td.selected {
    border: 2px solid green;
    border-bottom: 0;
    border-top: 0;
}

table input {
    box-sizing: border-box;
    text-align: center;
    width: 100%;

    border: 3px solid transparent;
    background: transparent;
    border-radius: 5px;
    outline: none;
    margin: 0;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 0.5rem;
    }
    75% {
        margin-left: -0.5rem;
    }
    100% {
        margin-left: 0rem;
    }
}

input:invalid {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.4em #ff000085;
    border-color: #ff0000 !important;
}

table input {
    border: 2px solid transparent;
}

table input:focus{
    /* border: 2px solid green; */
    caret-color: green;
    background: #ffffff;
    color: #000000;
    z-index: 5;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

#search-info {
    margin-right: 10px;
}

td p {
    margin: 0;
}


.spinner {
    animation: spin 2s linear infinite;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    display: block;
    
    border: 3px solid #ffffff;
    border-top: 3px solid transparent;
    background: transparent !important;

    height: var(--size);
    width: var(--size);
    --size: 1.3em;
    translate: 0;
    left: 0.4em;
}

button[type=submit] {
    font-family: 'Mukta', sans-serif;
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    
    background: transparent;
    height: auto;
    width: 7rem;
}

.circle {
    position: relative;
    display: block;
    margin: 0;

    --size: 2em;
    height: var(--size);
    width: var(--size);
    
    border-radius: var(--size);
    background: #4eff35;
}

button[type=submit] {
    box-shadow: 0 5px 0.6em #00000011;
    border: 3px solid #4eff35;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 0;
}

button[type=submit] * {
    transition: all 0.32s cubic-bezier(0.65,0,.076,1);
}

button[type=submit]:hover .circle {
    width: 100%;
}

button[type=submit]:hover {
    background: transparent;
}

button[type=submit]:hover .button-text {
    color: #ffffff;
}

button[type=submit]:hover .arrow {
    translate: 0.5em 0;
}

button[type=submit]:disabled .arrow {
    display: none;
}

button[type=submit]:not(:disabled) .spinner {
    display: none;
}

button[type=submit]:hover .spinner {
    translate: 0.5em 0;
}

button[type=submit]:active .arrow {
    scale: 0.7;
}

.icon {
    position: absolute;
    background: #ffffff;
    margin: auto;
    bottom: 0;
    top: 0;
}

.arrow {
    background: none;
    height: 0.125rem;
    width: 1.125rem;
    left: 0.625rem;
    translate: 0;
}

.arrow::before {
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    bottom: -0.3rem;
    right: 0.8em;
    height: 0.7em;
    width: 0.7em;
    content: '';
}

.button-text {
    position: absolute;
    left: 1.6em;
    bottom: 0;
    right: 0;
    top: 0;
    
    padding: 0.48em 0;
    color: #000000;
    margin: auto auto;

    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content {
    padding: 10px 20px;
    position: relative;
    height: 100%;
    gap: 5px;
}

.scrollable {
    /* background-image: linear-gradient(140deg, #12111b7e, #12111bd7), url('./background.png'); */
    background-size: cover;

    border-radius: 15px 0 0 0;
    /* color: #ffffff; */
    overflow: auto;
    display: flex;
    height: 100%;
    flex: 1;
}

.spacer {
    display: inline-block;
    width: var(--width);
    --width: 1em;
}

.full-spacer {
    display: inline-block;
    flex: 1;
}

td {
    user-select: none;
}

ul.title-bar {
    list-style: none;
    padding: 5px;
    margin: 0;

    font-weight: bold;

    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    display: flex;

    position: sticky;
    z-index: 124;
    top: 0;
}

.darker {
    box-shadow: 0 0 0.8em #00000018;
    background-color: #ffffff;
    display: inline-block;
    padding: 3px 8px;
    border-radius: 10px;
}

#kill {
    display: inline-block;
    background: #ffffff;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    padding: 3px 8px;
    border: none;

    box-shadow: 0 0 0.8em #0000002d;
    transition: all 0.14s ease-out;
    z-index: 1;
}

#kill::before {
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 10px;
    position: absolute;
    content: '';

    background-image: linear-gradient(150deg, #ff0000, #ff0000);
    transition: all 0.14s ease-out;
    z-index: -1;
    opacity: 0;
}

#kill:hover {
    color: #fff;
    box-shadow: 0 5px 0.8em #ff00008a;
}

#kill:hover::before {
    opacity: 1;
}

ul.title-bar img {
    display: inline-block;
    max-width: 1.4em;
    margin-right: 3px;
    margin-bottom: -5px;
}

.down {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
}

.side {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
}
.btn img {
    max-width: 1em;
    margin-top: 2px;
}

.card {
    background: linear-gradient(130deg, #69ffa7, #46ff17);
    box-shadow: 0 5px 0.7em #00000018;
    border-radius: 25px;
    padding: 5px 20px;

    flex-flow: row nowrap;
    max-height: fit-content;
    justify-content: start;
    align-items: start;
    min-width: 50%;
    display: flex;
    gap: 20px;
}

.card div:first-child {
    min-width: fit-content;
}

.card div:last-child {
    flex: 1;
    /* padding-top: 20px; */
}

.card div {
    flex-flow: column nowrap;
    max-width: fit-content;
    display: flex;
    /* height: 100%; */
}

.chip {
    border-radius: 25px;
    overflow: hidden;
    padding: 1px;

    transition: all 0.14s ease-out;
    display: inline-block;
    position: relative;

    border: 3px solid #4eff35;
    max-width: 300px;
    cursor: pointer;
    width: 100%;
    z-index: 1;

    box-shadow: 0 5px 0.6em #00000011;
    box-sizing: border-box;

    display: inline-flex;
    gap: 1px;
}

.btn {
    display: inline-block;
    position: relative;
    
    /* background: #4eff35; */
    border-radius: 25px;
    padding: 3px 5px;
    margin: 1px;

    transition: all 0.14s ease-out;
    z-index: 4;
    scale: 1;
}

.emoji {
    /* font-variant-emoji: emoji; */
    font-family: "Twemoji Mozilla",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji",
        "EmojiOne Color",
        "Android Emoji",
        sans-serif;
}

.chip::before {
    display: inline-block;
    position: absolute;
    height: auto; 
    width: 0%;

    transition: all 0.14s ease-out;
    transition: width 0.32s cubic-bezier(0.65,0,.076,1);
    border-radius: 25px;
    content: '';
    /* opacity: 0; */

    background: #4eff35;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.chip:hover {
    color: #ffffff;
}

.chip:hover .btn {
    background: #ffffff;
    color: #000000;
    scale: 1.1;
}

.chip:active .btn {
    scale: 0.98;
}

.chip:hover::before {
    width: 100%;
    opacity: 1;
}

.string {
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    margin-right: 4px;
    overflow: hidden;
    margin-top: 2px;
    width: auto;

    text-align: left;
    direction: rtl;
    z-index: 4;
}


.glow {
    transition: all 0.14s ease-out;
}

.glow:hover {
    box-shadow: 0 0 0.9em var(--color);
    --color: #59ff27cc;
    cursor: pointer;
}

.subtitle {
    font-size: 1em;
    font-weight: bold;
    margin: -10px 0 0 0;
}
